<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owosso Public Schools</title>
    <meta name="description" content="A fan-made version of the Owosso Public Schools website.">
	<meta name="keywords" content="Owosso,Public,Schools">
	<meta name="author" content="Andre Popovitch">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/normalize.css" />
    <link rel="stylesheet" href="stylesheets/foundation.css" />
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">Owosso Public Schools</a></h1>
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li><a href="https://www.sendmoneytoschool.com/Dashboard/Login.aspx">SendMoneyToSchool</a></li>
	      <li class="active"><a href="https://ps.owosso.k12.mi.us/public/">Powerschool</a></li>
	    </ul>
	    <!-- Left Nav Section -->
	    <ul class="left">
	      <li><a href="http://www.owosso.k12.mi.us/">Official site</a></li>
	      <li class="has-dropdown">
	        <a href="#">Staff</a>
	        <ul class="dropdown">
	        	<li><a href="http://owossohigh.mi.oph.schoolinsites.com/?PageName=%27Teachers%27">High School</a></li>
	        	<li><a href="http://lincolnhigh.mi.oph.schoolinsites.com/?PageName=%27Teachers%27">Lincoln High School</a></li>
	        	<li><a href="http://owossomiddle.mi.opm.schoolinsites.com/?PageName=%27Teachers%27">Middle School</a></li>
	        	<li><a href="http://bryantelementary.mi.ope.schoolinsites.com/?PageName=%27Teachers%27">Bryant Elementary</a></li>
	        	<li><a href="http://centralelementary.mi.ope.schoolinsites.com/?PageName=%27Teachers%27">Central Elementary</a></li>
	        	<li><a href="http://emersonelementary.mi.ope.schoolinsites.com/?PageName=%27Teachers%27">Emerson Elementary</a></li>
	        	<li><a href="http://brightbeginnings.mi.ops.schoolinsites.com/?PageName=%27Teachers%27">Bright Beginnings</a></li>
	        </ul>
	      </li>
	    </ul>
	  </section>
	</nav>

	<div class="vignette">
		<div class="row main">
	  		<div class="large-3 medium-4 small-6 small-centered columns"><br /><img src="/images/owosso_logo.png" id="logo" class="shadowed" width="100%"><br /></div>
		</div>

		<div class="row main">
			<div class="large-10 small-12 large-centered columns">
				<br />
				<br />
				<ul class="small-block-grid-1 large-block-grid-3">
					<li><div class="panel ad shadowed"><i class="fa fa-arrow-up"></i><p>Student success is Owosso Public Schools' passion, which is why it was rated in the top 7% of schools!</p></div></li>
					<li><div class="panel ad shadowed"><i class="fa fa-globe"></i><p>For people living in Owosso, you really can't beat the location.</p></div></li>
					<li><div class="panel ad shadowed"><i class="fa fa-group"></i><p>Owosso's middle and high schools have numerous clubs, including a robotics club and tautology club.</p></div></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<br />
			<div class="large-11 small-12 columns large-centered">
				<div class="blog panel">
					<div class="row">
						<div class="large-4 small-12 columns">
							<h3 class="blog-title">Back to school on September 12th!</h3>
							<h6 class="blog-date">September 5th, 2015</h5>
						</div>
						<div class="large-8 small-12 columns">
							<p>School is right around the corner, so we hope you've got your pencils, your spiral notebooks and your 3-ring binders! Also, any complaints about the new curriculum should be directed towards <a href="mailto:lemanskik@owosso.k12.mi.us?Subject=Hello darkness my old friend" target="_top">lemanskik@owosso.k12.mi.us</a></p>
						</div>
					</div>
				</div>
				<div class="blog panel">
					<div class="row">
						<div class="large-4 small-12 columns">
							<h3 class="blog-title">Curriculum changes</h3>
							<h6 class="blog-date">August 28th, 2015</h5>
						</div>
						<div class="large-8 small-12 columns">
							<p>In response to parent feedback, history class will focus more heavily on textbook readings and traditional exams, rather than live ammo drills. </p>
							<p>Geology is adding a new type of rock on the grounds that it's been a while since anyone has done that. The type of rocks is Vimbee, and it is categorized by its pale blue color, and the fact that it is completely edible. Points will be awarded to the first student to discover a real-world example of it.</p>
							<p>Math and English are switching names. Their curriculum will stay exactly the same.</p>
							<p>Astronomy will now be conducting star gazing sessions only with blindfolds on every participant, in order to protect them from the existential terror of the void. Also, Pluto has been declared imaginary.</p> 
							<p>All classrooms will be equipped with at least one teacher physically present for the entire instruction period (Astral projection will no longer be used in any classroom situation).</p>
							<p>Finally, in addition to the current foreign language offerings of Spanish, French, and Modified Sumerian, schools will now be offering Double Spanish, Weird Spanish, Coptic Spanish, Russian, and Unmodified Sumerian.</p>
							<p><a href="http://www.commonplacebooks.com/">Night Vale</a></p>
						</div>
					</div>
				</div>
				<div class="blog panel">
					<div class="row">
						<div class="large-4 small-12 columns">
							<h3 class="blog-title">News update - Tautology club still awesome</h3>
							<h6 class="blog-date">May 16th, 2015</h5>
						</div>
						<div class="large-8 small-12 columns">
							<p>The tautology club, where students get together to play Pokémon, Yu-Gi-Oh, MTG, Cardfight Vanguard, Mario Kart and Smash is still awesome. So awesome, in fact, that the principal is considering choosing some members of the tautology club to be part of the school <i>Super Smash Bros</i> team. He has so far declined comment on whether they would play Melee or U.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
	    	<div class="small-12 columns footer">
	    		This is a fan-made version of the <a href="http://www.owosso.k12.mi.us/">official</a> Owosso Public Schools website. Send any questions to <a href="mailto:andre@popovitch.xyz">andre@popovitch.xyz</a>.
	    	</div>
		</div>
	</div>

	<a href="https://github.com/anchpop/Owosso-Site" id="github-banner"><img style="" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

	<!--<svg height="0" xmlns="http://www.w3.org/2000/svg">
	    <filter id="drop-shadow">
	        <feGaussianBlur in="SourceAlpha" stdDeviation="4"/>
	        <feOffset dx="3" dy="3" result="offsetblur"/>
	        <feFlood flood-color="rgba(0,0,0,0.5)"/>
	        <feComposite in2="offsetblur" operator="in"/>
	        <feMerge>
	            <feMergeNode/>
	            <feMergeNode in="SourceGraphic"/>
	        </feMerge>
	    </filter>
	</svg>-->

    
    <script src="javascripts/vendor/jquery.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
